In [2]:
my_list = ['a','b','c','d']

In [3]:
my_list.append('v')
print(my_list)

['a', 'b', 'c', 'd', 'v']

In [4]:
my_list[0]

'a'

In [9]:
nest = [1,2,3,0,[2,3,['target']]]

In [11]:
print(nest[4][2][0])

target

# Dictionaries

In [14]:
d = {'key':'value','2nditem':'another value','nestevalue':[1,2,3,4]}
print(d['key'])

value

In [16]:
print(d['nestevalue'][0])

1

In [17]:
d2 = {'key':{'innerkey':[1.2,3,4,5]}}

In [18]:
print(d2['key']['innerkey'][0])

1.2

# Tuple is immutable

In [26]:
tple = (1,2,4)

In [28]:
print(tple[0])

1

In [29]:
tple[0] = 5

TypeError: 'tuple' object does not support item assignment

# Set dont have duplicate data

In [30]:
s = {1,1,1,1,1,1,1,1,2,3,}

In [31]:
print(s)

{1, 2, 3}

In [32]:
s.add(5)
print(s)

{1, 2, 3, 5}

# list comprehension

In [33]:
x = [1,2,3,4]

In [34]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [35]:
[item**2 for item in x]

[1, 4, 9, 16]

In [37]:
def my_func():
    """
    Its s doc string.
    can go multiple line; yay
    """
    print('Hello my func')
my_func()

Hello my func

# Introduction to map function

In [38]:
def times2(num):
    return num*2
seq = [1,2,3,4,5]
list(map(times2,seq))

[2, 4, 6, 8, 10]

# Introduction to Lamda function

In [40]:
t = lambda var: var*2
t(6)

12

In [41]:
seq = [1,2,3,4,5]
list(map(lambda num: num*2,seq))

[2, 4, 6, 8, 10]

# Introduction to filter function

In [42]:
seq = [1,2,3,4,5]
list(filter(lambda num: num%2 == 0,seq))

[2, 4]