In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = [ 'a','b','c' ]
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20, 'c':30}

In [3]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [4]:
pd.Series(data = my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [5]:
pd.Series(my_data,labels )

a    10
b    20
c    30
dtype: int64

In [6]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','USSR', 'Japan']) 
ser2 = pd.Series([1,2,5,4],['USA','Germany','Italy', 'Japan'])

In [7]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [8]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [9]:
ser1['USSR']

3

In [10]:
ser3 = pd.Series(labels)

In [11]:
ser3

0    a
1    b
2    c
dtype: object

In [12]:
ser3[1]

'b'

In [13]:
ser1 +ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

# Pandas DataFrame

In [14]:
from numpy.random import randn

In [15]:
np.random.seed(101)

In [16]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'], ['W','X','Y','Z'])

In [17]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [18]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [19]:
type(df['W'])

pandas.core.series.Series

In [21]:
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [22]:
df["New"] = df['W'] + df['Y']

In [25]:
df

          W         X         Y         Z       New
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [28]:
df.drop('New',axis=1, inplace=True)

In [29]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

# Rows grabbing now

In [30]:
df.loc['C']

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [31]:
df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [32]:
df.loc['B','Y']

-0.8480769834036315

In [33]:
df.loc[['A','B'],['W','X']]

          W         X
A  2.706850  0.628133
B  0.651118 -0.319318

In [34]:
df.shape

(5, 4)